main{
    width: 100%;
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    height: 94%;
}

.side-bar{
    width: 23%;
    display: flex;
    flex-direction: column;
}

.Trailers{
    background-color: rgba(255, 255, 255, 0.063);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    padding: 5%;
    width: 90%;
    height: 43%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 10px rgba(70, 70, 70, 0.144);
}

.Trailers > h2{
    margin: 0;
    font-size: 18px;
    font-weight: 600;
}

.trailer-card1{
    background-image: url(../images/aux-head-1576332390-20191214_czelpuk_360.jpg);
    background-size: cover;
    background-position: center center;
    border-radius: 20px;
    height: 42%;
    display: flex;
    align-items: end;
}

.trailer-card2{
    background-image: url(../images/aux-head-1576332390-20191214_czelpuk_360.jpg);
    background-size: cover;
    background-position: center center;
    border-radius: 20px;
    height: 42%;
    display: flex;
    align-items: end;
}

.continue{
    background-color: rgba(255, 255, 255, 0.063);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    padding: 5%;
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 10px rgba(70, 70, 70, 0.144);
    width: 90%;
    height: 43%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.gradient-line{
    background-color: rgba(43, 43, 43, 0.296);
    backdrop-filter: blur(10px);
    border-radius: 0px 0px 20px 20px;
    padding: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 18px;
}

.gradient-line > p{
    margin: 0;
}

.trailer-play-btn{
    background-color: rgba(255, 255, 255, 0.295);
    backdrop-filter: blur(10px);
    padding: 13px 11px;
    border-radius: 100px;
}

.main-content{
    width: 73%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.continue > h2{
    margin: 0;
    font-size: 18px;
    font-weight: 600;
}

.conti-line1, .conti-line2, .conti-line3{
    display: flex;
    height: 30%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 14px;
}

.conti-line1 > img, .conti-line2 > img, .conti-line3 > img{
    height: 100%;
    width: 29%;
    border-radius: 10px;
    object-fit: cover;
    border: 1.5px solid rgba(255, 255, 255, 0.188);
    box-shadow: 0 0 10px rgba(134, 134, 134, 0.144);
}

.conti-line1 > .content > .seria, .conti-line2 > .content > .seria, .conti-line3 > .content > .seria{
    font-size: 14px;
    margin: 0;
    color: rgba(255, 255, 255, 0.295);
}

.conti-line1 > .content > .name, .conti-line2 > .content > .name, .conti-line3 > .content > .name{
    margin: 0;
    margin-bottom: 5px;
}

.conti-play-btn{
    background-color: rgba(255, 255, 255, 0.295);
    backdrop-filter: blur(10px);
    padding: 13px 11px;
    border-radius: 100px;
    margin-left: 22px;
}

.banner{
    width: 94%;
    height: 44%;
    border-radius: 20px;
    padding: 3%;
    background-image: linear-gradient(rgba(73, 13, 13, 0.253), rgba(14, 14, 78, 0.281)), url("../images/aux-head-1576332390-20191214_czelpuk_360.jpg");
    background-size: cover;
    display: flex;
    align-items: end;
}

.banner > .inside{
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.left-ins{
    width: 55%;
}

.right-ins{
    width: 45%;
    display: flex;
    justify-content: end;
    gap: 10px;
}

.left-ins > .tags{
    display: flex;
    gap: 10px;
}

.left-ins > .tags > p{
    color: white;
    background-color: rgba(255, 255, 255, 0.253);
    backdrop-filter: blur(8px);
    padding: 7px 20px;
    border-radius: 100px;
    border: 1.5px solid rgba(255, 255, 255, 0.185);
    margin: 0;
}

h1{
    color: white;
    font-size: 50px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0;
    margin-top: 10px;
}

.left-ins > .description{
    color: rgba(255, 255, 255, 0.781);
    font-weight: 300;
    margin-top: 5px;
}

.left-ins > .btns{
    display: flex;
    gap: 15px;
}

.left-ins > .btns > a{
    background-color: rgba(255, 255, 255, 0.295);
    backdrop-filter: blur(10px);
    padding: 13px 20px;
    border-radius: 100px;
    color: white;
    border: 1.5px solid rgba(255, 255, 255, 0.185);
    transition: all 0.2s ease;
}

.left-ins > .btns > a:hover{
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.205);
}

.right-ins > a{
    background-color: rgba(255, 255, 255, 0.295);
    backdrop-filter: blur(10px);
    padding: 13px 11px;
    border-radius: 100px;
    color: white;
    border: 1.5px solid rgba(255, 255, 255, 0.185);
    transition: all 0.2s ease;
}

.right-ins > a:hover{
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.205);
}

.trands{
    width: 100%;
    height: 42%;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.trand-card1{
    background-image:linear-gradient(rgba(73, 13, 13, 0.253), rgba(14, 14, 78, 0.281)), url("../images/38b5c123-b27a-498c-8917-6372f79ab53b.jpg");
}

.trand-card2{
    background-image:linear-gradient(rgba(73, 13, 13, 0.253), rgba(14, 14, 78, 0.281)), url("../images/joker.jpg");
}

.trand-card3{
    background-image:linear-gradient(rgba(73, 13, 13, 0.253), rgba(14, 14, 78, 0.281)), url("../images/joker.jpg");
}

.trand-card4{
    background-image:linear-gradient(rgba(73, 13, 13, 0.253), rgba(14, 14, 78, 0.281)), url("../images/joker.jpg");
}

.trand-card1, .trand-card2, .trand-card3, .trand-card4{
    background-size: cover;
    background-position: bottom center;
    border-radius: 20px;
    border: 1.5px solid rgba(255, 255, 255, 0.185);
    height: 100%;
    width: 21%;
    display: flex;
    justify-content: end;
    flex-direction: end;
    align-items: end;
}

.trands .left{
    margin-left: 5%;
    margin-bottom: 15%;
    width: 60%;
}

.trands .left > .genre{
    color: white;
    background-color: rgba(255, 255, 255, 0.253);
    backdrop-filter: blur(8px);
    padding: 7px 20px;
    border-radius: 100px;
    border: 1.5px solid rgba(255, 255, 255, 0.185);
    margin: 0;
    width: fit-content;
    font-size: 14px;
}

.trands .left > h3{
    color: white;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 1px;
    margin: 0;
    margin-top: 5px;
    text-transform: uppercase;
}

.trands .left > .desc{
    color: rgba(255, 255, 255, 0.801);
    font-size: 12px;
    font-weight: 200;
}

.trands .left > a{
    width: fit-content;
    color: white;
    border-bottom: 1px solid white;
}

.trands .right{
    margin-bottom: 10%;
    margin-right: 10%;
}

.trands-play-btn{
    background-color: rgba(255, 255, 255, 0.295);
    backdrop-filter: blur(10px);
    padding: 13px 11px;
    border-radius: 100px;
    color: white;
    border: 1.5px solid rgba(255, 255, 255, 0.185);
    transition: all 0.2s ease;
}